* {
  padding: 0px;
  margin: 0px;
}
:root {
  --margin-main: 1rem;
  --gap-main: 2rem;
  --padding-main: 1rem;
}
.navBar {
  background-color: whitesmoke;
  grid-area: 1 / 2 / 2 /3;
}
.top {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-main);
}
.right {
  display: flex;
  gap: var(--gap-main);
}
.buttom {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-main);
}
.left {
  display: flex;
  align-items: center;
  gap: var(--gap-main);
}
.sidBar {
  background-color: aquamarine;
  grid-area: 1 / 1 /3 /2;
}
.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 200px 1fr;
  height: 100vh;
}
